
.c-team {

	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba($text-color, 0.93);

	@include laptop {

		flex-basis: rem(540);
	}

	@include tablet {

		flex-basis: 100%;
	}
}

.c-team__inner {

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 85%;
	height: 85%;

	@include tablet {

		align-items: center;
	}
}

.c-team__accord {

	display: flex;
	flex-direction: column;

	@include tablet {

		align-items: center;
	} 
}

.c-team__team-card {

	font-size: rem(14);
	display: flex;
	flex-direction: column;
	@include tablet {

		align-items: center;
	}

	&.is-active {

		@include tablet {

			flex: 0.8;
		}

		.team-card__title:before {
			
			transform: translateY(-50%) scale(1, -1);
		}

		.team-card__link {

			color: $brand-color;
		}

		.team-card__content {
			
			height: 100%;
			display: flex;
			justify-content: space-around;

			@include tablet {

				flex-direction: column;
				align-items: center;

			}
		}
	}	
}

.team-card__title {

	text-transform: uppercase;
	font-family: 'gagalin';
	font-weight: normal;
	margin-left: rem(25);
	position: relative;
	transition: 0.4s;

	@include tablet {
	
		font-size: rem(24);
	}

	&:before {

		content: '';
		display: block;
		@include triangle(bottom, $brand-color, 0.3rem);
		position: absolute;
		top: 50%;
		left: rem(-25);
		transform: translateY(-50%);
	}
}

.team-card__link {

	transition: color 0.3s;

	&:hover {

		color: $brand-color;
	}
}

.team-card__content {

	height: 0px;
	overflow: hidden;
	margin: 2.5% 0;
}

.team-card__img-wrap {

	@include size(rem(105), rem(105));
	border-radius: 50%;
	flex-shrink: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-bottom: 1.5%;

	@include s-mobile {

		@include size(rem(70), rem(70));
	}
}

.team-card__img {
	
	max-width: 100%;
}

.team-card__desc {

	color: $primaryColor;
	font-family: 'ubuntu';
	flex-basis: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	@include tablet {

		text-align: center;
		align-items: center;
	}
}

.team-card__desc-header {

	font-weight: 900;
	margin-bottom: 1%;
}

.team-card__desc-text {

	font-weight: 300;

	@include tablet {

		width: 70%;
	}
}