
.l-hero {

	background-image: url('../../images/decor/bg/video-bg.jpg');
}

.l-hero__first {

	width: 47%;

	@include tablet {

		width: auto;
		margin-bottom: 6%;
	}

}

.l-hero__second {

	width: 53%;
	flex: 0.8;
	padding-left: 1.5rem;

	@include tablet {

		width: 90%;
		padding-left: 0;
	}

}

