
.c-burger {

	background-repeat: no-repeat;
	width: rem(450); 
	height: rem(370);
	/*height: rem(420); */
	background-position: center;
	background-size: contain;
	overflow: hidden;

	@include tablet {

		height: 18rem;
	}

	@include s-mobile {

		height: 16rem;
	}
}
.c-burger__img {
	
	max-width: 100%;
}