
.l-header {

	min-height: rem(90);
	width: 100%;
	display: flex;
	padding: 1.5% 0;

}

.l-header__inner {

	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include tablet {

		width: 95%;
	}

	@include mobile {

		width: 90%;
	}
	
}
